{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row mt-4">
            {% include './admin/menu.html' %}
            <div class="col-9">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#</th>

                        <th scope="col">Name</th>
                        <th scope="col">Author</th>
                        <th scope="col">Category</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Status</th>
                        <th scope="col">Date Published</th>
                        <th scope="col">Options</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for book in books %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ book.title }}</td>
                            <td>{{ book.author }}</td>
                            <td>{{ book.get_category() }}</td>
                            <td>{{ book.quantity }}</td>
                            <td>
                                {% if book.id in olb %}

                                    <span class="text-warning">On Loan</span>
                                {% else %}
                                    <span class="text-success">Available</span>
                                {% endif %}

                            </td>
                            <td>{{ book.published_at }}</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a href="{{ url_for('admin.edit_book') }}?id={{ book.id }}"
                                       class="btn btn-info btn-sm">Edit</a>
                                    <form action="{{ url_for('admin.get_all_books') }}?id={{ book.id }}"
                                          method="post">
                                        <button type="submit" class="btn btn-danger btn-sm">Del</button>
                                    </form>

                                </div>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
